body {
    background-color: #f5fcff;
    color: #333;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
    margin: 0;
}

#top-wrap b, #top-wrap a{
	font-family: Lato,sans-serif;
    font-size: 18px;
    line-height: 1.625;
    font-weight: 300;
}

#top-wrap b{
	font-weight: 700;
	color: #333;
}

.site-header .wrap{
	width: 100%;
	max-width: none;
}

#menu-menu-1{
	margin-bottom: 0px;
}

a {
    color: #dd4242;
    text-decoration: none;
}


a:hover{
  color: #333;
  text-decoration: none;	
}



.header-logo img{
    height: 80px;
    width: 320px;
	
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nav-right-panel{
	height: 100%;
	margin-top: 10px;
}

.nav-right-panel .nav{
/* 	margin-right: -100px; */
	
}

.header-info{
	text-align: center;
    width: 200px;
}

.CustmHedaerBtns{
	background-color: #d4131b;
	color: #fff;
	border-radius: 0;
	margin: 0;
	padding: 0 15px !important;
	max-width: none;
	line-height: 20px;
}

.CustmHedaerBtns:hover, .CustmHedaerBtns:focus, .CustmHedaerBtns:active {
	background-color: #d4131b !important;
	color: #fff !important;
	border-radius: 0;
}
.navbar-nav > li {
	padding-right: 10px;
}

#top-wrap .btn-group{
	width: 100%;
}

@media (max-width:768px){
	.navbar-nav > li {
		padding-right: 0px;
	}
	
	#top-wrap a{
		line-height: 10px;
		width: 100%;
		text-align: center;
	}

}
