body {
    background-color: #f5fcff;
    color: #333;
    font-family: Lato,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.625;
    margin: 0;
}

#top-wrap{
	overflow: inherit;
}

#top-wrap b, #top-wrap a{
	font-family: Lato,sans-serif;
    font-size: 18px;
    line-height: 1.625;
    font-weight: 300;
}

#top-wrap b{
	font-weight: 700;
	color: #333;
}

.site-header .wrap{
	width: 100%;
	max-width: none;
}

#menu-menu-1{
	margin-bottom: 0px;
}

a {
    color: #dd4242;
    text-decoration: none;
}


a:hover{
  color: #333;
  text-decoration: none;	
}



.header-logo img{
    height: 80px;
    width: 320px;
	
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nav-right-panel{
	height: 100%;
	margin-top: 10px;
}

.nav-right-panel .nav{
/* 	margin-right: -100px; */
	
}

.header-info{
	text-align: center;
    width: 200px;
}

.CustmHedaerBtns{
	background-color: #d4131b;
	color: #fff;
	border-radius: 0;
	margin: 0;
	padding: 0 15px !important;
	max-width: none;
	line-height: 20px;
	border: 0px;
	float: none;
}

.CustmHedaerBtns:hover, .CustmHedaerBtns:focus, .CustmHedaerBtns:active {
	background-color: #d4131b !important;
	color: #fff !important;
	border-radius: 0;
	border: 0px;
}
.navbar-nav > li {
	padding-right: 10px;
}

#top-wrap .btn-group{
	width: 100%;
}

.trip.dropdown-menu li{
	padding-top: 10px;
}

.trip.dropdown-menu li a:hover{
	background-color: #d4131b;
	color: #fff;
}

.navbar-right .dropdown-menu{
	left: 0;
}

#templatemo_Search_Box{
	background-color: inherit;
}

#package_search_submit1{
	background-color: inherit;
}

#package_dropdown{
	background-color: #fff;
}

#loginform{
	margin-top: 20px;
}

@media (max-width:768px){
	.navbar-nav > li {
		padding-right: 0px;
	}
	
	#top-wrap a{
		line-height: 10px;
		width: 100%;
		text-align: center;
	}
	
	#top-wrap .dropdown-menu a{
	  line-height: 20px;
	}

}

.login-container{
	
	margin-bottom: 50px;
    margin-top: 40px;
}

/* login */

.login-form-border{
	border-left: 1px solid #dadbbc;
}


.login-form-border::before {
    background-color: white;
    content: "Or";
    font-size: 1.1em;
    font-weight: bold;
    height: 30px;
    left: -8px;
    line-height: 30px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
}


.social-login-button {
    background-color: #949494;
    border: 0 none;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 9px 0;
    position: relative;
    text-align: center;
    width: 70%;
}

#loginbtn{
	width: 70%;
}

.forget-password{
	margin-top: 10px;
	margin-bottom: 10px;
}

.item-group-2{
	text-align: left;
}

.social-login-button-facebook {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #4066a4 0px, #1d55a2 100%) repeat scroll 0 0;
}

.social-login-button-google {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #e25a40 0px, #db431c 100%) repeat scroll 0 0;
}

.social-login-button .social-login-icon{
	border-right: 1px solid rgba(255, 255, 255, 0.3);
    float: left;
    width: 50px;
}

.social-login-button .social-login-icon i{
	color: #fff;
	font-size: 20px;
}

.social-login-text .login-text{
	color: #fff;
}

@media (max-width:992px){
	
	.social-login-text .login-text .link-text{
		display: none;
	}
	
	.login-form-border{
	    border-left: 0px solid #dadbbc;
	    border-top: 1px solid #dadbbc;
	}
	
	.login-form-border:before{
		
	    bottom: auto;
	    height: auto;
	    left: 50%;
	    line-height: normal;
	    margin-left: -45px;
	    margin-top: 0;
	    text-align: center;
	    top: -8px;
	    width: 80px;
	
	}
	
	
	.social-text{
	
		margin-top: 30px;
	}
	
	.switch-forms{
	    margin-bottom: 20px;
	}
	
	.login-container{
		margin-top:10px;
	}
}

.c-text-center{
	text-align: center;
}

.c-pointer{
	cursor: pointer;
}

